In [1]:
import requests
from config import api_key_nfl
import pandas as pd
from functools import reduce

In [2]:
df = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/total')[0]
df.columns = df.iloc[0]
df = df.drop([0])
df = df.drop(columns=['RK'])
df['Year'] = 2018
new_names = [(i,'O_' + i ) for i in df.iloc[:, 1:-1].columns.values]
df.rename(columns = dict(new_names), inplace=True)

In [109]:
df_de = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/total/position/defense')[0]
df_de.columns = df_de.iloc[0]
df_de = df_de.drop([0])
df_de = df_de.drop(columns=['RK'])
df_de['Year'] = 2018
new_names = [(i,'D_' + i ) for i in df_de.iloc[:, 1:-1].columns.values]
df_de.rename(columns = dict(new_names), inplace=True)

In [5]:
df_2018 = pd.merge(df, df_de, how='right', on=['TEAM', 'Year'])

In [6]:
df_2018.head()

,TEAM,O_YDS,O_YDS/G,O_PASS,O_P YDS/G,O_RUSH,O_R YDS/G,O_PTS,O_PTS/G,Year,D_YDS,D_YDS/G,D_PASS,D_P YDS/G,D_RUSH,D_R YDS/G,D_PTS,D_PTS/G
0,Kansas City,6810,425.6,4955,309.7,1855,115.9,565,35.3,2018,6488,405.5,4374,273.4,2114,132.1,421,26.3
1,LA Rams,6738,421.1,4507,281.7,2231,139.4,527,32.9,2018,5737,358.6,3780,236.3,1957,122.3,384,24.0
2,Tampa Bay,6648,415.5,5125,320.3,1523,95.2,396,24.8,2018,6134,383.4,4151,259.4,1983,123.9,464,29.0
3,Pittsburgh,6453,403.3,5008,313.0,1445,90.3,428,26.8,2018,5235,327.2,3697,231.1,1538,96.1,360,22.5
4,New England,6295,393.4,4258,266.1,2037,127.3,436,27.3,2018,5746,359.1,3943,246.4,1803,112.7,325,20.3

In [7]:
df_d = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/total/position/defense')[0]

In [8]:
df_o = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/total')[0]

In [9]:
df_ds = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/defense')[0]
df_ds.columns = df_ds.iloc[1]
df_ds = df_ds.drop([0,1])
df_ds = df_ds.drop(columns=['RK'])
df_ds.head()

1          TEAM SOLO  AST TOTAL  SACK YDSL  PD INT  YDS LONG TD  FF REC TD
2     Cleveland  796  314  1110  37.0  245  75  17  100   50  0  20  14  0
3    Cincinnati  769  337  1106  34.0  173  72  12  222   58  3  11   6  2
4       Arizona  859  246  1105  49.0  333  51   7   55   25  0  13   9  2
5  Indianapolis  769  333  1102  38.0  228  60  15  220   47  0  15  11  0
6     NY Giants  789  312  1101  30.0  185  73  16  191   46  3  13   5  0

In [131]:
df_da = pd.read_html('http://www.espn.com/nfl/statistics/team/_/stat/defense/position/defense/year/2015')[0]
df_da.columns = df_da.iloc[1]
df_da = df_da.drop([0,1])
df_da = df_da.drop(columns=['RK'])
new_names = [(i, i + '_A') for i in df_da.iloc[:, 1:].columns.values]
df_da.rename(columns = dict(new_names), inplace=True)
df_da

1,TEAM,SOLO_A,AST_A,TOTAL_A,SACK_A,YDSL_A,PD_A,INT_A,YDS_A,LONG_A,TD_A,FF_A,REC_A,TD_A
2,Houston,779,400,1179,36.0,246,88,12,123,38,1,23,8,2
3,Washington,751,426,1177,27.0,199,55,11,140,59,1,19,10,2
4,NY Giants,849,321,1170,27.0,157,74,14,180,35,2,12,7,1
5,Seattle,748,415,1163,46.0,271,43,8,50,24,0,13,8,2
6,Carolina,691,458,1149,33.0,284,74,10,91,22,0,7,9,1
7,NY Jets,756,382,1138,22.0,113,91,16,102,38,0,14,8,2
8,New Orleans,782,336,1118,32.0,235,65,12,230,63,2,17,8,0
9,Buffalo,829,288,1117,42.0,257,55,9,75,26,1,23,10,1
10,Baltimore,724,391,1115,24.0,178,82,21,340,90,4,11,7,1
11,Philadelphia,814,280,1094,37.0,254,75,18,141,39,2,16,13,1
12,New England,720,363,1083,38.0,225,51,7,181,99,2,14,7,0
13,Cincinnati,745,337,1082,32.0,181,55,9,136,42,1,7,8,2
14,LA Chargers,857,211,1068,40.0,264,78,13,332,91,5,14,11,0
15,Indianapolis,717,347,1064,37.0,224,102,19,285,48,0,16,11,1
16,Atlanta,809,246,1055,32.0,223,90,17,99,28,1,17,13,0
17,Green Bay,800,251,1051,47.0,322,43,8,55,29,0,21,9,3
18,Minnesota,831,205,1036,45.0,318,42,9,71,26,0,16,8,0
19,Pittsburgh,763,267,1030,33.0,219,76,21,241,54,0,13,7,0
20,Chicago,804,221,1025,34.0,183,70,12,241,68,3,14,9,1
21,Detroit,774,242,1016,44.0,251,70,14,209,58,1,13,9,1
22,Tampa Bay,745,271,1016,27.0,190,70,15,212,46,2,15,13,2
23,Oakland,779,233,1012,33.0,250,80,14,381,74,3,23,10,0
24,Arizona,789,217,1006,27.0,159,79,13,87,40,0,17,11,1
25,Cleveland,778,224,1002,53.0,374,68,12,204,63,1,25,18,1
26,Tennessee,685,313,998,54.0,390,76,17,263,69,3,21,16,2
27,Dallas,748,245,993,33.0,206,65,22,428,67,4,15,10,1
28,Denver,783,207,990,39.0,246,99,23,279,55,3,11,8,0
29,San Francisco,775,201,976,53.0,330,62,12,174,42,2,17,5,0
30,Kansas City,787,178,965,46.0,238,41,7,116,46,1,13,8,1
31,LA Rams,678,278,956,18.0,126,56,11,131,45,2,14,10,1
32,Miami,727,229,956,45.0,420,82,12,176,43,2,16,7,0
33,Jacksonville,701,228,929,51.0,320,102,18,283,84,4,15,10,3

In [11]:
dfs = [df_2018, df_ds, df_da ]
df_final = reduce(lambda left,right: pd.merge(left,right,on='TEAM'), dfs)

In [110]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 44 columns):
TEAM         32 non-null object
O_YDS        32 non-null object
O_YDS/G      32 non-null object
O_PASS       32 non-null object
O_P YDS/G    32 non-null object
O_RUSH       32 non-null object
O_R YDS/G    32 non-null object
O_PTS        32 non-null object
O_PTS/G      32 non-null object
Year         32 non-null int64
D_YDS        32 non-null object
D_YDS/G      32 non-null object
D_PASS       32 non-null object
D_P YDS/G    32 non-null object
D_RUSH       32 non-null object
D_R YDS/G    32 non-null object
D_PTS        32 non-null object
D_PTS/G      32 non-null object
SOLO         32 non-null object
AST          32 non-null object
TOTAL        32 non-null object
SACK         32 non-null object
YDSL         32 non-null object
PD           32 non-null object
INT          32 non-null object
YDS          32 non-null object
LONG         32 non-null object
TD           32 non-null object
FF           32 non-null object
REC          32 non-null object
TD           32 non-null object
SOLO_A       32 non-null object
AST_A        32 non-null object
TOTAL_A      32 non-null object
SACK_A       32 non-null object
YDSL_A       32 non-null object
PD_A         32 non-null object
INT_A        32 non-null object
YDS_A        32 non-null object
LONG_A       32 non-null object
TD_A         32 non-null object
FF_A         32 non-null object
REC_A        32 non-null object
TD_A         32 non-null object
dtypes: int64(1), object(43)
memory usage: 11.2+ KB

In [13]:
df_wins = pd.read_html('http://www.espn.com/nfl/standings/_/group/league')[1]
df_wins1 = pd.read_html('http://www.espn.com/nfl/standings/_/group/league')[3]

In [14]:
# df_fff = pd.concat([df_wins, df_wins1])
df_wins['id'] = range(0, len(df_wins))
df_wins1['id'] = range(0, len(df_wins1))
df_fff = pd.merge(df_wins, df_wins1, how='outer', on='id')

In [15]:
df_fff

,0,id,W,L,T,PCT,HOME,AWAY,DIV,CONF,PF,PA,DIFF,STRK
0,** --NONew Orleans Saints,0,13,3,0,0.813,6-2,7-1,4-2,9-3,504,353,151,L1
1,* --LARLos Angeles Rams,1,13,3,0,0.813,7-1,6-2,6-0,9-3,527,384,143,W2
2,** --KCKansas City Chiefs,2,12,4,0,0.750,7-1,5-3,5-1,10-2,565,421,144,W1
3,z --CHIChicago Bears,3,12,4,0,0.750,7-1,5-3,5-1,10-2,421,283,138,W4
4,y --LACLos Angeles Chargers,4,12,4,0,0.750,5-3,7-1,4-2,9-3,428,329,99,W1
5,* --NENew England Patriots,5,11,5,0,0.688,8-0,3-5,5-1,8-4,436,325,111,W2
6,z --HOUHouston Texans,6,11,5,0,0.688,6-2,5-3,4-2,9-3,402,316,86,W1
7,z --BALBaltimore Ravens,7,10,6,0,0.625,6-2,4-4,3-3,8-4,389,287,102,W3
8,z --DALDallas Cowboys,8,10,6,0,0.625,7-1,3-5,5-1,9-3,339,324,15,W2
9,y --SEASeattle Seahawks,9,10,6,0,0.625,6-2,4-4,3-3,8-4,428,347,81,W2
10,y --INDIndianapolis Colts,10,10,6,0,0.625,6-2,4-4,4-2,7-5,433,344,89,W4
11,PITPittsburgh Steelers,11,9,6,1,0.594,5-3,4-3-1,4-1-1,6-5-1,428,360,68,W1
12,y --PHIPhiladelphia Eagles,12,9,7,0,0.563,5-3,4-4,4-2,6-6,367,348,19,W3
13,TENTennessee Titans,13,9,7,0,0.563,6-2,3-5,3-3,5-7,310,303,7,L1
14,MINMinnesota Vikings,14,8,7,1,0.531,5-3,3-4-1,3-2-1,6-5-1,360,341,19,L1
15,CLECleveland Browns,15,7,8,1,0.469,5-2-1,2-6,3-2-1,5-6-1,359,392,-33,L1
16,ATLAtlanta Falcons,16,7,9,0,0.438,4-4,3-5,4-2,7-5,414,423,-9,W3
17,WSHWashington Redskins,17,7,9,0,0.438,3-5,4-4,2-4,6-6,281,359,-78,L2
18,CARCarolina Panthers,18,7,9,0,0.438,5-3,2-6,2-4,5-7,376,382,-6,W1
19,MIAMiami Dolphins,19,7,9,0,0.438,6-2,1-7,4-2,6-6,319,433,-114,L3
20,GBGreen Bay Packers,20,6,9,1,0.406,5-2-1,1-7,1-4-1,3-8-1,376,400,-24,L1
21,DENDenver Broncos,21,6,10,0,0.375,3-5,3-5,2-4,4-8,329,349,-20,L4
22,DETDetroit Lions,22,6,10,0,0.375,3-5,3-5,2-4,4-8,324,360,-36,W1
23,CINCincinnati Bengals,23,6,10,0,0.375,4-4,2-6,1-5,4-8,368,455,-87,L2
24,BUFBuffalo Bills,24,6,10,0,0.375,4-4,2-6,2-4,4-8,269,374,-105,W1
25,NYGNew York Giants,25,5,11,0,0.313,2-6,3-5,1-5,4-8,369,412,-43,L3
26,JAXJacksonville Jaguars,26,5,11,0,0.313,3-5,2-6,1-5,4-8,245,316,-71,L1
27,TBTampa Bay Buccaneers,27,5,11,0,0.313,4-4,1-7,2-4,4-8,396,464,-68,L4
28,SFSan Francisco 49ers,28,4,12,0,0.250,4-4,0-8,1-5,2-10,342,435,-93,L2
29,NYJNew York Jets,29,4,12,0,0.250,2-6,2-6,1-5,3-9,333,441,-108,L3
30,OAKOakland Raiders,30,4,12,0,0.250,3-5,1-7,1-5,3-9,290,467,-177,L1
31,ARIArizona Cardinals,31,3,13,0,0.188,1-7,2-6,2-4,3-9,225,425,-200,L4

In [16]:
for row in df_fff[0]:
    row = row.split('--')
#     print(row[-1])
    for i in df_2018['TEAM']:
        if i in row:
            print(yes)

In [17]:
for row,i  in zip(df_fff[0],df_2018['TEAM']):
    row = row.split('--')
    row = row[-1].split(' ')
    print(row[-1])

Saints
Rams
Chiefs
Bears
Chargers
Patriots
Texans
Ravens
Cowboys
Seahawks
Colts
Steelers
Eagles
Titans
Vikings
Browns
Falcons
Redskins
Panthers
Dolphins
Packers
Broncos
Lions
Bengals
Bills
Giants
Jaguars
Buccaneers
49ers
Jets
Raiders
Cardinals

In [18]:
df_wins.columns = df_wins.iloc[1]

In [19]:
df_wins = df_wins.drop([0,1])

In [20]:
df_wins.iloc[0:32,0:3]

1       * --LARLos Angeles Rams   1
2     ** --KCKansas City Chiefs   2
3          z --CHIChicago Bears   3
4   y --LACLos Angeles Chargers   4
5    * --NENew England Patriots   5
6         z --HOUHouston Texans   6
7       z --BALBaltimore Ravens   7
8         z --DALDallas Cowboys   8
9       y --SEASeattle Seahawks   9
10    y --INDIndianapolis Colts  10
11       PITPittsburgh Steelers  11
12   y --PHIPhiladelphia Eagles  12
13          TENTennessee Titans  13
14         MINMinnesota Vikings  14
15          CLECleveland Browns  15
16           ATLAtlanta Falcons  16
17       WSHWashington Redskins  17
18         CARCarolina Panthers  18
19            MIAMiami Dolphins  19
20          GBGreen Bay Packers  20
21            DENDenver Broncos  21
22             DETDetroit Lions  22
23        CINCincinnati Bengals  23
24             BUFBuffalo Bills  24
25           NYGNew York Giants  25
26      JAXJacksonville Jaguars  26
27       TBTampa Bay Buccaneers  27
28        SFSan Francisco 49ers  28
29             NYJNew York Jets  29
30           OAKOakland Raiders  30
31         ARIArizona Cardinals  31

In [189]:
df_test = pd.read_html('https://www.foxsports.com/nfl/standings?season=2015&seasonType=1&grouping=3')[0]

In [33]:
for i in df_test['NFL']:
    df_test['NAME'] = i.split(' ')[0]

In [74]:
df_test['NAME'] = [i.split(' ')[0] for i in df_test.NFL]

In [185]:
df_test = df_test.drop(columns=['PF', 'PA', 'Home', 'Away', 'Conf', 'Div', 'Strk'])

In [158]:
names = ['Arizona Cardinals',
'Atlanta Falcons',
'Baltimore Ravens',
'Buffalo Bills',
'Carolina Panthers',
'Chicago Bears',
'Cincinnati Bengals',
'Cleveland Browns',
'Dallas Cowboys',
'Denver Broncos',
'Detroit Lions',
'Green Bay Packers',
'Houston Texans',
'Indianapolis Colts',
'Jacksonville Jaguars',
'Kansas City Chiefs',
'LA Chargers',
'LA Rams',
'Miami Dolphins',
'Minnesota Vikings',
'New York Giants',
'New York Jets',
'New England Patriots',
'New Orleans Saints',
'Oakland Raiders',
'Philadelphia Eagles',
'Pittsburgh Steelers',
'San Francisco 49ers',
'Seattle Seahawks',
'Tampa Bay Buccaneers',
'Tennessee Titans',
'Washington Redskins'
]

In [135]:
for i in names:
    for j in df_test.NAME:
        if j == i.split(' ')[-1]:
            df_test['na'] = i

In [137]:
df_test['na'] = [i for i in names for j in df_test.NAME if j == i.split(' ')[-1]]

In [107]:
df_test['nao'] = df_test['NFL'].map(lambda x: 'T' in x)

In [138]:
df_test

,NFL,W,L,T,Pct,PF,PA,Home,Away,Conf,Div,Strk,NAME,na,nao
0,Saints NO Z,13,3,0,0.813,504,353,6-2,7-1,9-3,4-2,L1,Saints,Arizona Cardinals,False
1,Rams LAR Y,13,3,0,0.813,527,384,7-1,6-2,9-3,6-0,W2,Rams,Atlanta Falcons,False
2,Chiefs KC Z,12,4,0,0.750,565,421,7-1,5-3,10-2,5-1,W1,Chiefs,Baltimore Ravens,False
3,Bears CHI Y,12,4,0,0.750,421,283,7-1,5-3,10-2,5-1,W4,Bears,Buffalo Bills,False
4,Chargers LAC X,12,4,0,0.750,428,329,5-3,7-1,9-3,4-2,W1,Chargers,Carolina Panthers,False
5,Patriots NE Y,11,5,0,0.688,436,325,8-0,3-5,8-4,5-1,W2,Patriots,Chicago Bears,False
6,Texans HOU Y,11,5,0,0.688,402,316,6-2,5-3,9-3,4-2,W1,Texans,Cincinnati Bengals,True
7,Ravens BAL Y,10,6,0,0.625,389,287,6-2,4-4,8-4,3-3,W3,Ravens,Cleveland Browns,False
8,Cowboys DAL Y,10,6,0,0.625,339,324,7-1,3-5,9-3,5-1,W2,Cowboys,Dallas Cowboys,False
9,Seahawks SEA X,10,6,0,0.625,428,347,6-2,4-4,8-4,3-3,W2,Seahawks,Denver Broncos,False
10,Colts IND X,10,6,0,0.625,433,344,6-2,4-4,7-5,4-2,W4,Colts,Detroit Lions,False
11,Steelers PIT,9,6,1,0.594,428,360,5-3,4-3-1,6-5-1,4-1-1,W1,Steelers,Green Bay Packers,True
12,Eagles PHI X,9,7,0,0.563,367,348,5-3,4-4,6-6,4-2,W3,Eagles,Houston Texans,False
13,Titans TEN,9,7,0,0.563,310,303,6-2,3-5,5-7,3-3,L1,Titans,Indianapolis Colts,True
14,Vikings MIN,8,7,1,0.531,360,341,5-3,3-4-1,6-5-1,3-2-1,L1,Vikings,Jacksonville Jaguars,False
15,Browns CLE,7,8,1,0.469,359,392,5-2-1,2-6,5-6-1,3-2-1,L1,Browns,Kansas City Chiefs,False
16,Falcons ATL,7,9,0,0.438,414,423,4-4,3-5,7-5,4-2,W3,Falcons,Miami Dolphins,True
17,Redskins WAS,7,9,0,0.438,281,359,3-5,4-4,6-6,2-4,L2,Redskins,Minnesota Vikings,False
18,Dolphins MIA,7,9,0,0.438,319,433,6-2,1-7,6-6,4-2,L3,Dolphins,New England Patriots,False
19,Panthers CAR,7,9,0,0.438,376,382,5-3,2-6,5-7,2-4,W1,Panthers,New Orleans Saints,False
20,Packers GB,6,9,1,0.406,376,400,5-2-1,1-7,3-8-1,1-4-1,L1,Packers,New York Giants,False
21,Broncos DEN,6,10,0,0.375,329,349,3-5,3-5,4-8,2-4,L4,Broncos,New York Jets,False
22,Bengals CIN,6,10,0,0.375,368,455,4-4,2-6,4-8,1-5,L2,Bengals,Oakland Raiders,False
23,Lions DET,6,10,0,0.375,324,360,3-5,3-5,4-8,2-4,W1,Lions,Philadelphia Eagles,True
24,Bills BUF,6,10,0,0.375,269,374,4-4,2-6,4-8,2-4,W1,Bills,Pittsburgh Steelers,False
25,Giants NYG,5,11,0,0.313,369,412,2-6,3-5,4-8,1-5,L3,Giants,St. Louis Rams,False
26,Buccaneers TB,5,11,0,0.313,396,464,4-4,1-7,4-8,2-4,L4,Buccaneers,San Diego Chargers,True
27,Jaguars JAX,5,11,0,0.313,245,316,3-5,2-6,4-8,1-5,L1,Jaguars,San Francisco 49ers,False
28,49ers SF,4,12,0,0.250,342,435,4-4,0-8,2-10,1-5,L2,49ers,Seattle Seahawks,False
29,Jets NYJ,4,12,0,0.250,333,441,2-6,2-6,3-9,1-5,L3,Jets,Tampa Bay Buccaneers,False
30,Raiders OAK,4,12,0,0.250,290,467,3-5,1-7,3-9,1-5,L1,Raiders,Tennessee Titans,False
31,Cardinals ARI,3,13,0,0.188,225,425,1-7,2-6,3-9,2-4,L4,Cardinals,Washington Redskins,False

In [132]:
def scrape(year):
    
    
    url_start = 'http://www.espn.com/nfl/statistics/team/_/stat/'
    df = pd.read_html(url_start+ 'total/year/' + str(year))[0]
    df.columns = df.iloc[0]
    df = df.drop([0])
    df = df.drop(columns=['RK'])
    df['Year'] = year
    new_names = [(i,'O_' + i ) for i in df.iloc[:, 1:-1].columns.values]
    df.rename(columns = dict(new_names), inplace=True)
    
    df_de = pd.read_html(url_start + 'total/position/defense/year/'+ str(year))[0]
    df_de.columns = df_de.iloc[0]
    df_de = df_de.drop([0])
    df_de = df_de.drop(columns=['RK'])
    new_names = [(i,'D_' + i ) for i in df_de.iloc[:, 1:-1].columns.values]
    df_de.rename(columns = dict(new_names), inplace=True)
    
    df_ds = pd.read_html(url_start + 'defense/year/' + str(year))[0]
    df_ds.columns = df_ds.iloc[1]
    df_ds = df_ds.drop([0,1])
    df_ds = df_ds.drop(columns=['RK'])
    df_ds.head()
    
    df_da = pd.read_html(url_start + 'defense/position/defense/year/' + str(year))[0]
    df_da.columns = df_da.iloc[1]
    df_da = df_da.drop([0,1])
    df_da = df_da.drop(columns=['RK'])
    new_names = [(i, i + '_A') for i in df_da.iloc[:, 1:].columns.values]
    df_da.rename(columns = dict(new_names), inplace=True)
    df_da.head()

    dfs = [df, df_de, df_ds, df_da]
    df_final = reduce(lambda left,right: pd.merge(left,right,on='TEAM'), dfs)
    
    
    return df_final

In [176]:
df_2015 = scrape(2015)

In [177]:
df_2015

,TEAM,O_YDS,O_YDS/G,O_PASS,O_P YDS/G,O_RUSH,O_R YDS/G,O_PTS,O_PTS/G,Year,...,SACK_A,YDSL_A,PD_A,INT_A,YDS_A,LONG_A,TD_A,FF_A,REC_A,TD_A
0,Arizona,6533,408.3,4616,288.5,1917,119.8,489,30.6,2015,...,27.0,159,79,13,87,40,0,17,11,1
1,New Orleans,6461,403.8,4970,310.6,1491,93.2,408,25.5,2015,...,32.0,235,65,12,230,63,2,17,8,0
2,Pittsburgh,6327,395.4,4603,287.7,1724,107.8,423,26.4,2015,...,33.0,219,76,21,241,54,0,13,7,0
3,Seattle,6058,378.6,3790,236.9,2268,141.8,423,26.4,2015,...,46.0,271,43,8,50,24,0,13,8,2
4,Tampa Bay,6014,375.9,3852,240.8,2162,135.1,342,21.4,2015,...,27.0,190,70,15,212,46,2,15,13,2
5,New England,5991,374.4,4587,286.7,1404,87.8,465,29.1,2015,...,38.0,225,51,7,181,99,2,14,7,0
6,Atlanta,5990,374.4,4379,273.7,1611,100.7,339,21.2,2015,...,32.0,223,90,17,99,28,1,17,13,0
7,NY Giants,5956,372.3,4347,271.7,1609,100.6,420,26.3,2015,...,27.0,157,74,14,180,35,2,12,7,1
8,LA Chargers,5949,371.8,4591,286.9,1358,84.9,320,20.0,2015,...,40.0,264,78,13,332,91,5,14,11,0
9,NY Jets,5925,370.3,4057,253.6,1868,116.8,387,24.2,2015,...,22.0,113,91,16,102,38,0,14,8,2
10,Carolina,5871,366.9,3589,224.3,2282,142.6,500,31.3,2015,...,33.0,284,74,10,91,22,0,7,9,1
11,Philadelphia,5830,364.4,4087,255.4,1743,108.9,377,23.6,2015,...,37.0,254,75,18,141,39,2,16,13,1
12,Buffalo,5775,360.9,3343,208.9,2432,152.0,379,23.7,2015,...,42.0,257,55,9,75,26,1,23,10,1
13,Baltimore,5749,359.3,4271,266.9,1478,92.4,328,20.5,2015,...,24.0,178,82,21,340,90,4,11,7,1
14,Cincinnati,5728,358.0,3923,245.2,1805,112.8,419,26.2,2015,...,32.0,181,55,9,136,42,1,7,8,2
15,Denver,5688,355.5,3970,248.1,1718,107.4,355,22.2,2015,...,39.0,246,99,23,279,55,3,11,8,0
16,Washington,5661,353.8,4095,255.9,1566,97.9,388,24.3,2015,...,27.0,199,55,11,140,59,1,19,10,2
17,Jacksonville,5581,348.8,4108,256.8,1473,92.1,376,23.5,2015,...,51.0,320,102,18,283,84,4,15,10,3
18,Houston,5564,347.8,3833,239.6,1731,108.2,339,21.2,2015,...,36.0,246,88,12,123,38,1,23,8,2
19,Detroit,5547,346.7,4212,263.3,1335,83.4,358,22.4,2015,...,44.0,251,70,14,209,58,1,13,9,1
20,Chicago,5514,344.6,3663,228.9,1851,115.7,335,20.9,2015,...,34.0,183,70,12,241,68,3,14,9,1
21,Dallas,5361,335.1,3471,216.9,1890,118.1,275,17.2,2015,...,33.0,206,65,22,428,67,4,15,10,1
22,Green Bay,5353,334.6,3503,218.9,1850,115.6,368,23.0,2015,...,47.0,322,43,8,55,29,0,21,9,3
23,Oakland,5336,333.5,3879,242.4,1457,91.1,359,22.4,2015,...,33.0,250,80,14,381,74,3,23,10,0
24,Cleveland,5311,331.9,3782,236.4,1529,95.6,278,17.4,2015,...,53.0,374,68,12,204,63,1,25,18,1
25,Miami,5307,331.7,3811,238.2,1496,93.5,310,19.4,2015,...,45.0,420,82,12,176,43,2,16,7,0
26,Kansas City,5299,331.2,3255,203.4,2044,127.8,405,25.3,2015,...,46.0,238,41,7,116,46,1,13,8,1
27,Indianapolis,5142,321.4,3704,231.5,1438,89.9,333,20.8,2015,...,37.0,224,102,19,285,48,0,16,11,1
28,Minnesota,5139,321.2,2928,183.0,2211,138.2,365,22.8,2015,...,45.0,318,42,9,71,26,0,16,8,0
29,Tennessee,4988,311.8,3503,218.9,1485,92.8,299,18.7,2015,...,54.0,390,76,17,263,69,3,21,16,2
30,San Francisco,4860,303.8,3316,207.3,1544,96.5,238,14.9,2015,...,53.0,330,62,12,174,42,2,17,5,0
31,LA Rams,4761,297.6,2805,175.3,1956,122.3,280,17.5,2015,...,18.0,126,56,11,131,45,2,14,10,1

In [178]:
df_2015 = df_2015.sort_values(by=['TEAM'])

In [179]:
# df_2015['NAME'] = [i for i in names for j in df_test.NAME if j == i.split(' ')[-1]]
df_2015['NAME'] = [i.split(' ')[-1] for i in names]

In [180]:
df_2015.head()

,TEAM,O_YDS,O_YDS/G,O_PASS,O_P YDS/G,O_RUSH,O_R YDS/G,O_PTS,O_PTS/G,Year,...,YDSL_A,PD_A,INT_A,YDS_A,LONG_A,TD_A,FF_A,REC_A,TD_A,NAME
0,Arizona,6533,408.3,4616,288.5,1917,119.8,489,30.6,2015,...,159,79,13,87,40,0,17,11,1,Cardinals
6,Atlanta,5990,374.4,4379,273.7,1611,100.7,339,21.2,2015,...,223,90,17,99,28,1,17,13,0,Falcons
13,Baltimore,5749,359.3,4271,266.9,1478,92.4,328,20.5,2015,...,178,82,21,340,90,4,11,7,1,Ravens
12,Buffalo,5775,360.9,3343,208.9,2432,152.0,379,23.7,2015,...,257,55,9,75,26,1,23,10,1,Bills
10,Carolina,5871,366.9,3589,224.3,2282,142.6,500,31.3,2015,...,284,74,10,91,22,0,7,9,1,Panthers

In [190]:
df_test['NAME'] = [i.split(' ')[0] for i in df_test.NFL]
df_test

,NFL,W,L,T,Pct,PF,PA,Home,Away,Conf,Div,Strk,NAME
0,Saints NO Z,13,3,0,0.813,504,353,6-2,7-1,9-3,4-2,L1,Saints
1,Rams LAR Y,13,3,0,0.813,527,384,7-1,6-2,9-3,6-0,W2,Rams
2,Chiefs KC Z,12,4,0,0.750,565,421,7-1,5-3,10-2,5-1,W1,Chiefs
3,Bears CHI Y,12,4,0,0.750,421,283,7-1,5-3,10-2,5-1,W4,Bears
4,Chargers LAC X,12,4,0,0.750,428,329,5-3,7-1,9-3,4-2,W1,Chargers
5,Patriots NE Y,11,5,0,0.688,436,325,8-0,3-5,8-4,5-1,W2,Patriots
6,Texans HOU Y,11,5,0,0.688,402,316,6-2,5-3,9-3,4-2,W1,Texans
7,Ravens BAL Y,10,6,0,0.625,389,287,6-2,4-4,8-4,3-3,W3,Ravens
8,Cowboys DAL Y,10,6,0,0.625,339,324,7-1,3-5,9-3,5-1,W2,Cowboys
9,Seahawks SEA X,10,6,0,0.625,428,347,6-2,4-4,8-4,3-3,W2,Seahawks
10,Colts IND X,10,6,0,0.625,433,344,6-2,4-4,7-5,4-2,W4,Colts
11,Steelers PIT,9,6,1,0.594,428,360,5-3,4-3-1,6-5-1,4-1-1,W1,Steelers
12,Eagles PHI X,9,7,0,0.563,367,348,5-3,4-4,6-6,4-2,W3,Eagles
13,Titans TEN,9,7,0,0.563,310,303,6-2,3-5,5-7,3-3,L1,Titans
14,Vikings MIN,8,7,1,0.531,360,341,5-3,3-4-1,6-5-1,3-2-1,L1,Vikings
15,Browns CLE,7,8,1,0.469,359,392,5-2-1,2-6,5-6-1,3-2-1,L1,Browns
16,Falcons ATL,7,9,0,0.438,414,423,4-4,3-5,7-5,4-2,W3,Falcons
17,Redskins WAS,7,9,0,0.438,281,359,3-5,4-4,6-6,2-4,L2,Redskins
18,Dolphins MIA,7,9,0,0.438,319,433,6-2,1-7,6-6,4-2,L3,Dolphins
19,Panthers CAR,7,9,0,0.438,376,382,5-3,2-6,5-7,2-4,W1,Panthers
20,Packers GB,6,9,1,0.406,376,400,5-2-1,1-7,3-8-1,1-4-1,L1,Packers
21,Broncos DEN,6,10,0,0.375,329,349,3-5,3-5,4-8,2-4,L4,Broncos
22,Bengals CIN,6,10,0,0.375,368,455,4-4,2-6,4-8,1-5,L2,Bengals
23,Lions DET,6,10,0,0.375,324,360,3-5,3-5,4-8,2-4,W1,Lions
24,Bills BUF,6,10,0,0.375,269,374,4-4,2-6,4-8,2-4,W1,Bills
25,Giants NYG,5,11,0,0.313,369,412,2-6,3-5,4-8,1-5,L3,Giants
26,Buccaneers TB,5,11,0,0.313,396,464,4-4,1-7,4-8,2-4,L4,Buccaneers
27,Jaguars JAX,5,11,0,0.313,245,316,3-5,2-6,4-8,1-5,L1,Jaguars
28,49ers SF,4,12,0,0.250,342,435,4-4,0-8,2-10,1-5,L2,49ers
29,Jets NYJ,4,12,0,0.250,333,441,2-6,2-6,3-9,1-5,L3,Jets
30,Raiders OAK,4,12,0,0.250,290,467,3-5,1-7,3-9,1-5,L1,Raiders
31,Cardinals ARI,3,13,0,0.188,225,425,1-7,2-6,3-9,2-4,L4,Cardinals

In [207]:
df_lalala = pd.merge(df_lmp, df_2015, how='outer', on='NAME')

In [208]:
df_lalala

,W,L,T,PCT,NAME,TEAM,O_YDS,O_YDS/G,O_PASS,O_P YDS/G,...,SACK_A,YDSL_A,PD_A,INT_A,YDS_A,LONG_A,TD_A,FF_A,REC_A,TD_A
0,14,2,0,0.875,Patriots,New England,5991,374.4,4587,286.7,...,38.0,225,51,7,181,99,2,14,7,0
1,13,3,0,0.813,Chiefs,Kansas City,5299,331.2,3255,203.4,...,46.0,238,41,7,116,46,1,13,8,1
2,12,4,0,0.750,Colts,Indianapolis,5142,321.4,3704,231.5,...,37.0,224,102,19,285,48,0,16,11,1
3,12,4,0,0.750,Rams,LA Rams,4761,297.6,2805,175.3,...,18.0,126,56,11,131,45,2,14,10,1
4,12,4,0,0.750,Titans,Tennessee,4988,311.8,3503,218.9,...,54.0,390,76,17,263,69,3,21,16,2
5,12,4,0,0.750,Eagles,Philadelphia,5830,364.4,4087,255.4,...,37.0,254,75,18,141,39,2,16,13,1
6,11,5,0,0.688,Panthers,Carolina,5871,366.9,3589,224.3,...,33.0,284,74,10,91,22,0,7,9,1
7,10,6,0,0.625,Ravens,Baltimore,5749,359.3,4271,266.9,...,24.0,178,82,21,340,90,4,11,7,1
8,10,6,0,0.625,Packers,Green Bay,5353,334.6,3503,218.9,...,47.0,322,43,8,55,29,0,21,9,3
9,10,6,0,0.625,Broncos,Denver,5688,355.5,3970,248.1,...,39.0,246,99,23,279,55,3,11,8,0
10,10,6,0,0.625,Cowboys,Dallas,5361,335.1,3471,216.9,...,33.0,206,65,22,428,67,4,15,10,1
11,10,6,0,0.625,Seahawks,Seattle,6058,378.6,3790,236.9,...,46.0,271,43,8,50,24,0,13,8,2
12,10,6,0,0.625,Dolphins,Miami,5307,331.7,3811,238.2,...,45.0,420,82,12,176,43,2,16,7,0
13,9,7,0,0.563,Vikings,Minnesota,5139,321.2,2928,183.0,...,45.0,318,42,9,71,26,0,16,8,0
14,8,8,0,0.500,Saints,New Orleans,6461,403.8,4970,310.6,...,32.0,235,65,12,230,63,2,17,8,0
15,8,8,0,0.500,Bengals,Cincinnati,5728,358.0,3923,245.2,...,32.0,181,55,9,136,42,1,7,8,2
16,7,9,0,0.438,Buccaneers,Tampa Bay,6014,375.9,3852,240.8,...,27.0,190,70,15,212,46,2,15,13,2
17,7,9,0,0.438,49ers,San Francisco,4860,303.8,3316,207.3,...,53.0,330,62,12,174,42,2,17,5,0
18,7,9,0,0.438,Bears,Chicago,5514,344.6,3663,228.9,...,34.0,183,70,12,241,68,3,14,9,1
19,6,10,0,0.375,Jets,NY Jets,5925,370.3,4057,253.6,...,22.0,113,91,16,102,38,0,14,8,2
20,6,10,0,0.375,Steelers,Pittsburgh,6327,395.4,4603,287.7,...,33.0,219,76,21,241,54,0,13,7,0
21,6,10,0,0.375,Bills,Buffalo,5775,360.9,3343,208.9,...,42.0,257,55,9,75,26,1,23,10,1
22,5,11,0,0.313,Falcons,Atlanta,5990,374.4,4379,273.7,...,32.0,223,90,17,99,28,1,17,13,0
23,5,11,0,0.313,Lions,Detroit,5547,346.7,4212,263.3,...,44.0,251,70,14,209,58,1,13,9,1
24,5,11,0,0.313,Browns,Cleveland,5311,331.9,3782,236.4,...,53.0,374,68,12,204,63,1,25,18,1
25,5,11,0,0.313,Jaguars,Jacksonville,5581,348.8,4108,256.8,...,51.0,320,102,18,283,84,4,15,10,3
26,5,11,0,0.313,Texans,Houston,5564,347.8,3833,239.6,...,36.0,246,88,12,123,38,1,23,8,2
27,5,11,0,0.313,Redskins,Washington,5661,353.8,4095,255.9,...,27.0,199,55,11,140,59,1,19,10,2
28,4,12,0,0.250,Cardinals,Arizona,6533,408.3,4616,288.5,...,27.0,159,79,13,87,40,0,17,11,1
29,4,12,0,0.250,Giants,NY Giants,5956,372.3,4347,271.7,...,27.0,157,74,14,180,35,2,12,7,1
30,4,12,0,0.250,Raiders,Oakland,5336,333.5,3879,242.4,...,33.0,250,80,14,381,74,3,23,10,0
31,4,12,0,0.250,Chargers,LA Chargers,5949,371.8,4591,286.9,...,40.0,264,78,13,332,91,5,14,11,0

In [191]:
df_espn = pd.read_html('http://www.espn.com/nfl/standings/_/season/2003/group/league')

In [200]:
df_lmp = pd.concat([df_espn[1] , df_espn[3]], axis=1)

In [203]:
df_lmp['NAME'] = [i.split(' ')[-1] for i in df_lmp[0]]

In [206]:
df_lmp.drop(columns = [0, 'HOME', 'AWAY', 'DIV', 'CONF', 'PF', 'PA', 'DIFF', 'STRK'], inplace = True)

In [209]:
df_lmp

     W   L  T    PCT        NAME
0   14   2  0  0.875    Patriots
1   13   3  0  0.813      Chiefs
2   12   4  0  0.750       Colts
3   12   4  0  0.750        Rams
4   12   4  0  0.750      Titans
5   12   4  0  0.750      Eagles
6   11   5  0  0.688    Panthers
7   10   6  0  0.625      Ravens
8   10   6  0  0.625     Packers
9   10   6  0  0.625     Broncos
10  10   6  0  0.625     Cowboys
11  10   6  0  0.625    Seahawks
12  10   6  0  0.625    Dolphins
13   9   7  0  0.563     Vikings
14   8   8  0  0.500      Saints
15   8   8  0  0.500     Bengals
16   7   9  0  0.438  Buccaneers
17   7   9  0  0.438       49ers
18   7   9  0  0.438       Bears
19   6  10  0  0.375        Jets
20   6  10  0  0.375    Steelers
21   6  10  0  0.375       Bills
22   5  11  0  0.313     Falcons
23   5  11  0  0.313       Lions
24   5  11  0  0.313      Browns
25   5  11  0  0.313     Jaguars
26   5  11  0  0.313      Texans
27   5  11  0  0.313    Redskins
28   4  12  0  0.250   Cardinals
29   4  12  0  0.250      Giants
30   4  12  0  0.250     Raiders
31   4  12  0  0.250    Chargers